
/* Available Games to bet on CSS */
#MLBbanner {
    color: white;
    padding: 1.5vh 0;
    font-size: 70px;
    background-image: url("../images/mlb-logo-bg.jpeg");
    background-size:cover;
    -webkit-text-stroke: 2px black;
    text-shadow: 4px 4px 4px  black;
  }
  
  
  
    table {
      width: 100%;
      text-align: center;
      border: 2px black solid;
      font-family: "Varela Round", "Comfortaa", sans-serif;
    }
    
    th {
      height: 50px;
      background-color: black;
      color: green;
      font-size: 25px;
      
    }
    
    tr {
      height: 50px;
      border: 2px black solid;
      font-size: 25px;
      padding: 1vh;
    }
  
    tbody tr {
      background-color: white;
      color: #000;
    }
    
    table {
      background-color: #0e0b16;
    }
    
  
