.navbar{
  background: black;
}

.navbar-link{
color: white;
}

.navbar-end :active{
background-color: black;
}

#navlink{
  color:white;
}

#navbarLeft{
  color: white;
}

#navbarRight{
  color: white;
}

#navbarRight :hover{
color: blue;
}


#navbarLeft :hover{
  color: blue;
}

