
/* Available Games to bet on CSS */
#NCAAbanner {
    color: white;
    padding: 1.5vh 0;
    font-size: 60px;
    background-image: url(../images/ncaa_team_logo_map.jpg);
    background-size:cover;
    -webkit-text-stroke: 2px black;
  }
  
    table {
      width: 100%;
      text-align: center;
      border: 2px black solid;
      font-family: "Varela Round", "Comfortaa", sans-serif;
    }
    
    th {
      height: 50px;
      background-color: black;
      color: green;
      font-size: 25px;
      
    }
    .table thead td, .table thead th{
      color: white;
    }

    tr {
      height: 50px;
      border: 2px black solid;
      font-size: 25px;
      padding: 1vh;
      
    }
  
    tbody tr {
      background-color: white;
      color: #000;
    }
    
    table {
      background-color: #0e0b16;
    }
    
 
    
