/* User Dashboard CSS */
html {
  background-color: rgba(14, 17, 44, 0.85);
}

.dashboardContainer {
  width: 98.5vw;
  height: 91vh;
  /* background-color: rgba(14, 11, 22, 0.85); */
  margin: 0 0.2vw 0.2vw 0.3vw;
  display: flex;
  font-family: "Varela Round", "Comfortaa", sans-serif;
}

.dashboardContainerRight {
  width: 78vw;
  height: 89vh;
  margin-top: 1vh;
  margin-right: 1vh;
}

.dashboardLeft {
  width: 20vw;
  height: 88vh;
  background-color: #0e0b16;
  color: #e7dfdd;
  margin: 1vh 1vh 0 0;
  padding: 1vh 1vh;
}

.dashboardRightTop {
  width: 77.5vw;
  height: 28vh;
  background-color: #0e0b16;
  color: #e7dfdd;
  margin: 0;
  padding: 1vh 1vh;
}

.dashboardRightBottom {
  width: 77.5vw;
  height: 58vh;
  background-color: #0e0b16;
  color: #e7dfdd;
  margin-top: 1vh;
  padding: 0.5vh 1vh;
}

.dashBets {
  margin-top: 2vh;
}

/* a tag as a button */

.button {
  float: right;
  background-color: Crimson;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  margin: 0.8vh 1vh;
  font-size: 1em;
}

.button:focus,
.button:hover {
  background-color: FireBrick;
  color: White;
}

.userName {
  font-size: 1.5em;
}
.userBalance {
  font-size: 1.8em;
}

.userLinks {
  display: flex;
  flex-wrap: wrap;
}

.sidebarLink {
  text-decoration: none;
  background-color: #eeeeee;
  color: #0e0b16;
  padding: 2vh;
  font-size: 1.5em;
  width: 14vw;
  margin: 2vh;
  text-align: center;
}

.sidebarLink:hover {
  background-color: #4717f6;
  color: #e7dfdd;
}
