footer {
  /* footer height must match offset in ContentWrapper css */
  background-color: black;
  display: none;
}
.footer-level {
  height: 42px;
}

.social-link {
  line-height: 24px;
  font-size: 24px;
}

@media only screen and (max-width: 1023px) {
  footer {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}