/* Available Games to bet on CSS */
.h1 {
  color: #e7dfdd;
  padding: 1.5vh 0;
}

  table {
    width: 100%;
    text-align: center;
    border: 2px black solid;
    font-family: "Varela Round", "Comfortaa", sans-serif;
  }
  
  th {
    height: 50px;
    background-color: darkgrey;
    color: black;
    font-size: 25px;
  }
  
  tr {
    height: 50px;
    border: 2px black solid;
    font-size: 25px;
    padding: 1vh;
  }

  tbody tr {
    background-color: #ccc;
    color: #000;
  }
  
  table {
    background-color: #0e0b16;
  }
  
  button {
    border-radius: 15px;
    padding: 10px;
    background-color: #4717f6;
    opacity: 0.8;
    font-family: "Varela Round", "Comfortaa", sans-serif;
    font-size: 0.8em;
    color: white;
  }
  
  button:focus,
  button:hover {
    background-color: #4717f6;
    opacity: 1;
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  