
/* Available Games to bet on CSS */
#NCAAbanner {
    color: white;
    padding: 1.5vh 0;
    font-size: 60px;
    background-color: navy
    ;
    background-size:cover;
  }


  
  
  
    table {
      width: 100%;
      text-align: center;
      border: 2px black solid;
      font-family: "Varela Round", "Comfortaa", sans-serif;
    }
    
    th {
      height: 50px;
      background-color: black;
      color: green;
      font-size: 25px;
      
    }
    
    tr {
      height: 50px;
      border: 2px black solid;
      font-size: 25px;
      padding: 1vh;
    }
  
    tbody tr {
      background-color: white;
      color: #000;
    }
    
    table {
      background-color: #0e0b16;
    }
    
    button {
      border-radius: 15px;
      padding: 10px;
      background-color: green;
      opacity: 0.8;
      font-family: "Varela Round", "Comfortaa", sans-serif;
      font-size: 0.8em;
      color: white;
    }
    
    button:focus,
    button:hover {
      background-color: #17f617;
      opacity: 1;
    }
    
   
    